/*DOM*/
html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 800;
	text-shadow: -1px 1px 1px #111,-1px 1px 1px #111,-1px 1px 1px #111,-1px -1px 1px #111,-1px -1px 1px #111,-1px -1px 1px #111,1px 1px 1px #111,1px 1px 1px #111,1px 1px 1px #111,1px -1px 1px #111,1px -1px 1px #111,1px -1px 1px #111;
	letter-spacing: 3px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
body {
	height:100vh;
	width:100vw;
	overflow: hidden;

}
a {
	color:#fff;
}
a:visited {
	color:#fff;
}
h1 {
	display: -webkit-inline-box;
	width: 100vw;
	margin:0;
	padding: 0;
	text-indent: 4px;
}
button {
	background-color: #101423;
	border:none;
	outline: none;
	letter-spacing: 3px;
	border-radius: 2px;
	box-shadow: 0 0 1px #FFF,0 0 1px #FFF,0 0 1px #FFF;
	color:white;
	text-shadow: -1px 1px 1px #111,-1px 1px 1px #111,-1px -1px 1px #111,-1px -1px 1px #111,1px 1px 1px #111,1px 1px 1px #111,1px -1px 1px #111,1px -1px 1px #111;
}
button:hover {
	background-color: #202433;
}
button:active {
	background-color: #000413;
}
button:disabled {
	background-color: #202433;
	opacity: 0.2;
}
::selection {
  background: transparent;
}
input[type=text] {
	text-indent: 5px;
}
input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #20305B;
  line-height: 30px;
}
select {
	padding: 5px 0;
}
input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  margin: 10px 0;
  padding: 0 1px;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B0B0B0;
  border-radius: 1px;
  border: 1px solid #10204B;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #212121;
  border: 0px solid #757575;
  height: 15px;
  width: 20px;
  border-radius: 2px;
  background: #10102B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B0B0B0;
  border-radius: 1px;
  border: 1px solid #10102B;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #212121;
  border: 0px solid #757575;
  height: 15px;
  width: 20px;
  border-radius: 2px;
  background: #10204B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B0B0B0;
  border: 1px solid #10204B;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B0B0B0;
  border: 1px solid #10204B;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #212121;
  border: 0px solid #757575;
  height: 15px;
  width: 20px;
  border-radius: 2px;
  background: #10204B;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B0B0B0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B0B0B0;
}
/*CLASS*/
.dvContain {
	height: inherit;
	width: inherit;
	display: flow-root;
	overflow: hidden;
}
.startPage {
	background-color: transparent;
	height: auto;
	width: 50vw;
	margin: 10vh auto;
}
.startBtns {
	display: block;
	width: -webkit-fill-available;
	margin: 1vh 0;
	padding: 4vh 0;
}
.startMenu_full {
	width: 20vw;
    margin: 20vh auto 0 auto;
    padding: 10px 0;
}
.startMenu {
	width: 20vw;
    margin: -100vh auto 0 auto;
    padding: 10px 0;
}
.myScreen, .controlPage,.gFile,.saveGamesPage,.gameFilePage,.warnPage {
	position: absolute;
    top:-100vh;
    left:0;
	display: -webkit-box;
	height: inherit;
	width: inherit;
}
.myScreen_full, .controlPage_full,.gFile_full,.progressPage,.saveGamesPage_full,.gameFilePage_full,.warnPage_full {
	position: absolute;
    top:0;
    left:0;
	display: -webkit-box;
	height: inherit;
	width: inherit;
}
.toolPage,.resPage {
	position: fixed;
    top:-100vh;
    left:0;
	display: -webkit-box;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	z-index: 20;
}
.toolPage_full,.resPage_full {
	position: fixed;
    top:0;
    left:0;
	display: -webkit-box;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
		z-index: 20;
}
.controlPage_full,.controlPage {
	background-image: url("../assets/controls.png");
	background-position: center;
	background-repeat: no-repeat;

}
.title {
	height: 5.5vh;
	font-size:5vh;
	cursor: default;
}
.pauseBtn,.resXOutBtn,.toolXOutBtn {
	position: absolute;
	top:1px;
	right:1px;
	height: 5vh;
	width: 6vh;
	font-size: 3vh;
	color:white;
	background-color: transparent;
}
.pauseBtn:hover,.resXOutBtn:hover,.toolXOutBtn:hover {
	color:lightgrey;
	background-color: transparent;
}
.pauseBtn:active,.resXOutBtn:active,.toolXOutBtn:active {
	color:darkgrey;
	background-color: transparent;
}
.container {
    display: block;
    width: 100vw;
    height: 94.5vh;
    position: absolute;
    left: 0;
    top: 5.5vh;
}
.devLog, .settContainer, .loadContainer, .newGameContainer,.gFile,.gFile_full {
	background-color: black;
	display: block;
	height:-webkit-fill-available;
	width:-webkit-fill-available;
	overflow: hidden;
}
.devLog p, .settContainer p, .loadContainer p, .newGameContainer p {
	background-color: black;
	width:max-content;
	margin: 10px auto;
	cursor: default;
}
.cStuff, .lsStuff {
	width:50vw;
	margin:0 auto;
	display: grid;
}
.lsClr, .fsToggle,.lsClrItemsBtn {
	width:50%;
	margin: 5px auto;
	padding: 8px 0;
}
.lsClr:hover {
	background-color: #7D0400;
}
.lsStuff span {
	width:-webkit-fill-available;
	vertical-align: middle;
	padding: 8px;
	cursor: default;
}
.lsStuff input[type="checkbox"] {
	width: fit-content;
	vertical-align: middle;
  	position: relative;

}
.labels {
	margin-top: 3vh;
	margin-bottom: 0;
	height: auto;
}
.ranges {
	margin-top: 0;
	margin-bottom:3vh;
}
.labels,.ranges {
	display: flex;
}
.form {
	width: -webkit-fill-available;
	height: auto;
	margin:15vh 20vw;
	display: -webkit-box;
	background-color: #fff;
	padding: 5vh 0;
}
.form button {
	position: absolute;
    bottom: 11vh;
    width: 5vw;
    height: 5vw;
    left: 47.5vw;

}
.fItems {
	display: -webkit-inline-box;
    width: -webkit-fill-available;
    margin: 20px 10vw;
}
.container {
	display: block;
}
.container div div {
}
.loadBox div {
	border-radius: 2px;
	box-shadow: 0 0 1px #FFF,0 0 1px #FFF,0 0 1px #FFF;
	display: inline-block;
	width:120px;
	height:120px;
	line-height: 120px;
	margin: 5px;
	padding:0;
	cursor: pointer;
	background-color:  #101423;
	color:#fff;
	text-align: center;
	overflow: hidden;
}
.loadBox div span {
}
.loadBox div:hover {
	background-color: #202433;
}
.ngBtn {

}
.xOutBtn {
	position: fixed;
	top:0;
	right:5vw;
	width: 5vw;
	height: 5vw;
}
.controlsLabel {
	cursor: pointer;
	margin:8px 0;
	padding: 8px 16px;
	width: fit-content;
}
.cpyRghtHolder {
	position: absolute;
	bottom: 0;
	margin: 0;
	cursor: default;
}
.progressPage {
	background-color: rgba(0,0,0,1);
	height: -webkit-fill-available;
	width:100vw;
	position: fixed;
	top:100vh;
	left:0;
	z-index: 20;
}

.progressPage_full {
	background-color: rgba(0,0,0,1);
	height: -webkit-fill-available;
	width:100vw;
	position: fixed;
	top:0;
	left:0;
	z-index: 20;
}
.progressBar {
	background-color: #121B17;
	height: 4px;
	width:80vw;
	margin-top: 45vh;
	margin-left: 10vw;
	display: block;
}
.myBar {
	background-color: #E2EBF7;
	height: 4px;
	display: block;
}
.gameNav {
	position: absolute;
	display: block;
	width: 10vw;
	top:0;
	left: -10vw;
	height: -webkit-fill-available;
	display: flex;
    flex-direction: column;
    z-index: 12;
}
.gameNav_full {
	position: absolute;
	display: block;
	left: 0vw;
	top:0;
	width: 10vw;
	height: -webkit-fill-available;
	display: flex;
    flex-direction: column;
    z-index: 12;
	
}
.gameFrame {
	width: 100vw;
	height: -webkit-fill-available;
}
.navToggle {
	height: 5.5vh;
	width: 10vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.gameConsole {
	position: absolute;
	background-size: 100% 100% ;
	background-repeat: no-repeat;
	background-position: top-left;
	display: block;
	height: -webkit-fill-available;
	width: 90vw;
	left: 10vw;
}
.nameholder {
	width: -webkit-fill-available;
	display: flex;
	margin-top: 1px;
}
.nameIn, .cTypeHolder, .rTypeHolder,.eTypeHolder,.lvlHolder {
	width:-webkit-fill-available;
	text-align: center;
	display: grid;
	margin: 0 1px;
	padding: 8px 0;
	background-color: rgba(60,60,70,0.9);
	font-size: 14px;
	cursor: default;
	box-shadow: 0 0 1px #000 inset,0 0 1px #000 inset;
}
.navBtns {
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	margin-top: 1px;
	padding: 0;
}
.gTabs {
	position: relative;
	z-index: 3;
}
.saveGamesPage_full {
	display: inherit;
	padding: 2px;
}
.saveGamesPage_full p {
	display: inline-grid;
	height: 6vh;
	width: 8vw;
	margin: 3px;
	line-height: 6vh;
	border-radius: 2px;
	box-shadow: 0 0 1px #FFF,0 0 1px #FFF,0 0 1px #FFF;
	text-align: center;
}
.saveGamesPage_full p:hover {
	background: #202433;
}
.gameFilePage {
	background-color: black;
}
.gameFilePage_full {
	background-color: black;
	display: flow-root;
}
.gameFilePage_full h2 {
	text-align: center;
	display: block;
	width:100vw;
}
.gameFilePage_full table {
	box-shadow: 0 0 1px #FFF,0 0 1px #FFF,0 0 1px #FFF;
	background-color: #000413;
	border-radius: 2px;
	width:40vw;
	margin:5vh 30vw;
	padding: 1px;
	display: inline-grid;
}
.gameFilePage_full th {}
.gameFilePage_full tr {
	margin:  0;
	padding:  0;
	width:-webkit-fill-available;
	display: block;
}
.gameFilePage_full td {
	display: -webkit-inline-box;
    width: 30%;
    padding: 20px 10%;
}
.gameFilePage_full td button:hover {
	background-color: red;
}
.gameFilePage_full tr:nth-child(odd) td{
	background-color: #101423;
}
.gameFilePage_full tr:nth-child(even) td{
	background-color: #000413;
}
.indexCodeHolder {
	position: absolute;
	bottom: 0;
	left:0;
	text-indent: 15px;
}
.btnHolder {
	display: contents;
}
.btnHolder button, .deleteBtn {
	display: inline-block;
	padding: 50px;
	margin: 1vh 2vw;
}
.planet {
	position: absolute;
	border-radius: 50%;
	cursor:default;
	z-index: 5;
	padding: 5px;
}
.terra {
	background-color: grey;
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 50%;
    margin: 0;
    display: block;
    background: radial-gradient(ellipse at left, rgba(100,100,100,1) 0,rgba(20,20,20,1) 75%,rgba(10,10,10,1) 100%);
}
.meteor {
	background-color: white;
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	box-shadow: 0 0 1px lightblue, 0 0 1px lightblue, 0 0 1px lightblue, 0 0 1px lightblue;
	z-index: 10;
}
.meteor_left {
	background-color: white;
	position: absolute;
	width: 20px;
	height: 20px;
	left:-100px;
	border-radius: 50%;
	box-shadow: 0 0 4px lightblue, 0 0 4px lightblue, 0 0 4px lightblue, 0 0 4px lightblue;
	z-index: 10;
}
/*ID*/

/*MULTIS*/
html, body {
	margin:0;
	padding:0;
}
.title {
	text-indent:1vw; 
} 
.cStuff,.devLog p,.pauseBtn{
	text-align: center;
}
.startBtns, .pauseBtn, {
	font-size:3vh;
}
html,h1,button,p,div{
	font-weight: 300;
}
.dvContain,.gameFrame,.myScreen, .myScreen_full,.controlPage,.controlPage_full,.gameNav_full,.gameNav,.saveGamesPage,.saveGamesPage_full,.warnPage,.warnPage_full,.toolPage,.toolPage_full,.resPage,.resPage_full {
	background-color: #000413;
	color:white;
}

.planet,.meteor,.meteor_left,.gameFilePage,.gameFilePage_full,.gameNav,.gameNav_full,.startMenu,.startMenu_full,.myScreen_full,.myScreen,.controlPage,.controlPage_full,.gFile,.gFile_full,.progressPage,.progressPage_full,.saveGamesPage,.saveGamesPage_full,.warnPage,.warnPage_full,.toolPage,.toolPage_full,.resPage,.resPage_full {
	transition: 333ms all ease-in-out;
}
.devLog, .settContainer, .loadContainer, .newGameContainer {
	margin-top: 2px;
}
.lsStuff input[type="checkbox"], .lsStuff span {
	display: inline-block;
}
.startPage,button,.loadBox div,.controlsLabel,.devLog, .settContainer, .loadContainer, .newGameContainer,.gFile,.gFile_full {
	border-radius: 1px;
}

/*KEYFRAMES*/

/*MEDIA QUERIES*/
/* phones, 600px */
@media only screen and (max-width: 600px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/

}

/* tablets and large phones */
@media only screen and (min-width: 600px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/

}

/* landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
}
