/*DOM*/
html {
	font-family: "Helvetica";
}
body {
	height:100vh;
	width:100vw;
	overflow: hidden;

}
h1 {
	display: -webkit-inline-box;
	width: 100vw;
	margin:0;
	padding: 0;
}
button {
	background-color: #8C8474;
	border:none;
	outline: none;
	color:#F2D5BB;
}
button:active {
	background-color: #7C7464;
	color: #E2C5AB;
}
button:hover {
	background-color: #B0A692;
	color: #F2E1BB;
}
button:disabled {
	background-color: #615B4E;
	color: #453C34;
}
/*CLASS*/
.dvContain {
	background-color: #0D0D0D;
	height: inherit;
	width: inherit;
	display: flow-root;
	overflow: hidden;
}
.startPage {
	height: auto;
	width: 20vw;
	margin: 10vh auto;

}
.startBtns {
	display: -webkit-box;
	margin:10px 0;
}

.startMenu_full {
	width: fit-content;
    margin: 20vh auto 0 auto;
    padding: 10px 0;
}
.startMenu {
	width: fit-content;
    margin: -100vh auto 0 auto;
    padding: 10px 0;
}
.myScreen {
	position: absolute;
    top:-100vh;
    left:0;
	display: -webkit-box;
	height: inherit;
	width: inherit;
}
.myScreen_full {
	position: absolute;
    top:0;
    left:0;
	display: -webkit-box;
	height: inherit;
	width: inherit;
}
.title {
	height: 5.5vh;
	font-size:5vh;
}
.pauseBtn {
	position: absolute;
	top:0;
	right:0;
	height: 5.5vh;
	width: 6vh;
}
.container {
    display: block;
    width: 100vw;
    height: 94.5vh;
    position: absolute;
    left: 0;
    top: 5.5vh;

}
.devLog, .settContainer, .loadContainer, .newGameContainer {
	background-color: black;
	display: block;
	height:-webkit-fill-available;
	width:-webkit-fill-available;
	overflow: hidden;
}
.devLog p, .settContainer p, .loadContainer p, .newGameContainer p {
	background-color: black;
	width:max-content;
	margin: 10px auto;
	border-bottom: 1px solid #F2D5BB;
}
.cStuff {
	width:50vw;
	margin:0 auto;
}
/*ID*/

/*MULTIS*/
html, body {
	margin:0;
	padding:0;
}
.title {
	text-indent:1vw; 
} 
.cStuff,.devLog p,.pauseBtn{
	text-align: center;
}
.startBtns, .pauseBtn {
	font-size:3vh;
}
html,h1,button,p,div{
	font-weight: 300;
}
.myScreen, .myScreen_full,.startPage {
	background-color: #383C3D;
	color:#F2D5BB;
}

.startBtns {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.startMenu,.startMenu_full,.myScreen_full,.myScreen {
	transition: 666ms all;
}
.devLog, .settContainer, .loadContainer, .newGameContainer {
	box-shadow: 0 0 1px inset gold,0 0 1px inset gold,0 0 2px inset silver,0 0 3px inset white,0 0 3px inset white;
}

/*KEYFRAMES*/

/*MEDIA QUERIES*/
/* phones, 600px */
@media only screen and (max-width: 600px) {
/*DOM*/

/*CLASS*/
.startBtns {

	width:18vw;

}

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/

}

/* tablets and large phones */
@media only screen and (min-width: 600px) {
/*DOM*/

/*CLASS*/
.startBtns {

	width:17vw;

}

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/

}

/* landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*DOM*/

/*CLASS*/
.startBtns {

	width:17vw;

}
/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*DOM*/

/*CLASS*/
.startBtns {

	width:16vw;

}
/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
/*DOM*/

/*CLASS*/
.startBtns {

	width:15vw;

}
/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
}
