/*DOM*/
html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bolder;
}
body {
	height:100vh;
	width:100vw;
	overflow: hidden;

}
a {
	color:white;
}
a:visited {
	color:white;
}
h1 {
	display: -webkit-inline-box;
	width: 100vw;
	margin:0;
	padding: 0;
}
button {
	background-color: #20203B;
	border:none;
	outline: none;
	color:white;
}
button:active {
	background-color: #10102B;
}
button:hover {
	background-color: #30304B;
}
button:disabled {
	background-color: #10102B;
	opacity: 0.5;
}
::selection {
  background: #1D35B8;
}
input[type=text] {
	text-indent: 5px;
}
input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  outline: none;
  border: 2px solid #2039CC;
  line-height: 30px;
}
select {
	padding: 5px 0;
}
input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  margin: 10px 0;
  padding: 0 1px;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B0B0B0;
  border-radius: 1px;
  border: 1px solid #10102B;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #212121;
  border: 0px solid #757575;
  height: 15px;
  width: 20px;
  border-radius: 2px;
  background: #10102B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B0B0B0;
  border-radius: 1px;
  border: 1px solid #10102B;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #212121;
  border: 0px solid #757575;
  height: 15px;
  width: 20px;
  border-radius: 2px;
  background: #10102B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B0B0B0;
  border: 1px solid #10102B;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B0B0B0;
  border: 1px solid #10102B;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #212121;
  border: 0px solid #757575;
  height: 15px;
  width: 20px;
  border-radius: 2px;
  background: #10102B;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B0B0B0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B0B0B0;
}
/*CLASS*/
.dvContain {
	background-color: #10102B;
	height: inherit;
	width: inherit;
	display: flow-root;
	overflow: hidden;
}
.startPage {
	height: auto;
	width: 50vw;
	margin: 10vh auto;

}
.startBtns {
	display: -webkit-box;
	width: -webkit-fill-available;
	margin: 3vh 0;
	padding: 3vh 0;
}

.startMenu_full {
	width: 40vw;
    margin: 20vh auto 0 auto;
    padding: 10px 0;
}
.startMenu {
	width: 40vw;
    margin: -100vh auto 0 auto;
    padding: 10px 0;
}
.myScreen, .controlPage,.gFile {
	position: absolute;
    top:-100vh;
    left:0;
	display: -webkit-box;
	height: inherit;
	width: inherit;
}
.myScreen_full, .controlPage_full,.gFile_full,.progressPage {
	position: absolute;
    top:0;
    left:0;
	display: -webkit-box;
	height: inherit;
	width: inherit;
}
.controlPage_full,.controlPage {
	background-image: url("../assets/controls.png");
	background-position: center;
	background-repeat: no-repeat;

}
.title {
	height: 5.5vh;
	font-size:5vh;
	cursor: default;
}
.pauseBtn {
	position: absolute;
	top:1px;
	right:1px;
	height: 5.5vh;
	width: 6vh;
}
.container {
    display: block;
    width: 100vw;
    height: 94.5vh;
    position: absolute;
    left: 0;
    top: 5.5vh;

}
.devLog, .settContainer, .loadContainer, .newGameContainer,.gFile,.gFile_full {
	background-color: black;
	display: block;
	height:-webkit-fill-available;
	width:-webkit-fill-available;
	overflow: hidden;
}
.devLog p, .settContainer p, .loadContainer p, .newGameContainer p {
	background-color: black;
	width:max-content;
	margin: 10px auto;
	cursor: default;
}
.cStuff, .lsStuff {
	width:50vw;
	margin:0 auto;
	display: grid;
}
.lsClr, .fsToggle {
	width:50%;
	margin: 5px auto;
	padding: 8px 0;
}
.lsClr:hover {
	background-color: #7D0400;
}
.lsStuff span {
	width:-webkit-fill-available;
	vertical-align: middle;
	padding: 8px;
	cursor: default;
}
.lsStuff input[type="checkbox"] {
	width: fit-content;
	vertical-align: middle;
  	position: relative;

}
.labels {
	margin-top: 3vh;
	margin-bottom: 0;
	height: auto;
}
.ranges {
	margin-top: 0;
	margin-bottom:3vh;
}
.labels,.ranges {
	display: flex;
}
.form {
	width: -webkit-fill-available;
	height: auto;
	margin:15vh 20vw;
	display: -webkit-box;
	background-color: white;
	padding: 5vh 0;
}
.form button {
	position: absolute;
    bottom: 11vh;
    width: 5vw;
    height: 5vw;
    left: 47.5vw;

}
.fItems {
	display: -webkit-inline-box;
    width: -webkit-fill-available;
    margin: 20px 10vw;
}
.container {
	display: block;
}
.container div div {
}
.loadBox div {
	display: inline-block;
	width:120px;
	height:120px;
	line-height: 120px;
	margin: 5px;
	padding:0;
	cursor: pointer;
	background-color:  #20203B;
	color:white;
	text-align: center;
	overflow: hidden;
}
.loadBox div span {
}
.loadBox div:hover {
	background-color: #10102B;
}
.ngBtn {

}
.xOutBtn {
	position: fixed;
	top:0;
	right:5vw;
	width: 5vw;
	height: 5vw;

}
.controlsLabel {
	cursor: pointer;
	background-color: #20203B;
	margin:8px 0;
	padding: 8px;
	width: fit-content;
}
.cpyRghtHolder {
	position: absolute;
	bottom: 0;
	margin: 0;
	cursor: default;
}
.progressPage {
	background-color: rgba(0,0,0,1);
	height: -webkit-fill-available;
	width:100vw;
	position: fixed;
	top:100vh;
	left:0;
	z-index: 20;
}

.progressPage_full {
	background-color: rgba(0,0,0,1);
	height: -webkit-fill-available;
	width:100vw;
	position: fixed;
	top:0;
	left:0;
	z-index: 20;
}
.progressBar {
	background-color: rgba(50,50,65,1);
	height: 2px;
	width:80vw;
	margin-top: 45vh;
	margin-left: 10vw;
	display: block;
	box-shadow: 0 0 .5px rgba(80,80,155,1) inset,0 0 1px rgba(140,140,155,1) inset;

}
.myBar {
	background-color: rgba(110,110,255,.9);
	height: 2px;
	display: block;
	box-shadow: 0 0 .5px white,0 0 1px white,0 0 3px white,0 0 6px white,0 0 9px white ;

}
.gameNav {
	position: absolute;
	display: block;
	width: 10vw;
	top:0;
	left: -10vw;
	height: -webkit-fill-available;
	display: flex;
    flex-direction: column;
}
.gameNav_full {
	position: absolute;
	display: block;
	left: 0vw;
	top:0;
	width: 10vw;
	height: -webkit-fill-available;
	display: flex;
    flex-direction: column;
	
}
.gameFrame {
	background-color: black;
	width: 100vw;
	height: -webkit-fill-available;
}
.navToggle {
	height: 5.5vh;
	width: 10vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.gameConsole {
	position: absolute;
	display: block;
	height: -webkit-fill-available;
	width: 90vw;
	left: 10vw;
	background-color: black;
}
.nameholder {
	width: -webkit-fill-available;
	display: flex;
}
.nameIn, .cTypeHolder, .rTypeHolder,.eTypeHolder {
	width:-webkit-fill-available;
	text-align: center;
	display: grid;
	margin: 0;
	padding: 8px 0;
	background-color: #070C2B;
	font-size: 10px;
	cursor: default;
	box-shadow: 0 0 1px white inset;
}
.navBtns {
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	margin: 2px 2px 0 2px;
	padding: 4px 0;
}
/*ID*/

/*MULTIS*/
html, body {
	margin:0;
	padding:0;
}
.title {
	text-indent:1vw; 
} 
.cStuff,.devLog p,.pauseBtn{
	text-align: center;
}
.startBtns, .pauseBtn, {
	font-size:3vh;
}
html,h1,button,p,div{
	font-weight: 300;
}
.myScreen, .myScreen_full,.startPage,.controlPage,.controlPage_full,.gameNav_full,.gameNav {
	background-color: #070C2B;
	color:white;
}

.startBtns {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.gameNav,.gameNav_full,.startMenu,.startMenu_full,.myScreen_full,.myScreen,.controlPage,.controlPage_full,.gFile,.gFile_full,.progressPage,.progressPage_full {
	transition: 333ms all ease-in-out;
}

.devLog, .settContainer, .loadContainer, .newGameContainer {
	margin-top: 2px;
}
.lsStuff input[type="checkbox"], .lsStuff span {
	display: inline-block;
}
.startPage,button,.loadBox div,.controlsLabel,.devLog, .settContainer, .loadContainer, .newGameContainer,.gFile,.gFile_full {
	border-radius: 1px;
}

/*KEYFRAMES*/

/*MEDIA QUERIES*/
/* phones, 600px */
@media only screen and (max-width: 600px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/

}

/* tablets and large phones */
@media only screen and (min-width: 600px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/

}

/* landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
/*DOM*/

/*CLASS*/

/*ID*/

/*MULTIS*/

/*KEYFRAMES*/
}
